@charset "UTF-8";

.chuLon {
	font-size: medium;
	font-weight: bold;
}

.image-container {
	position: relative;
}

.overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	color: black;
}

.colorr {
	color: red;
}

.viTriTrenPhai {
	position: absolute;
	top: 0;
	right: 0;

}